<div class="margin">
	<h1> Sub-Reddit Search</h1>

	{{!-- <span>{{keywords}}</span> --}}

	<form onsubmit={{action "searchForSubreddits"}}>
		{{input typ="text" value=keywords}}
		<button type="submit">Search</button>
	</form>

	{{unread-email email=email clickAction=(action "markAsRead")}}

{{outlet}}
</div>